<%include partials/header%>
<div class="container">
    <img src="<%= araba.resim %>" alt=""> 
    <h2>Marka - <%= araba.marka %> </h2>  
    <h3>Model - <%= araba.model %></h3>    
    <p>Yakıt Türü - <%= araba.yakıt %></p>
    <a href="/gizli">Rezervasyon</a>
</div>

<%include partials/footer%>